$colorNav:yellow;
$colorBackground:#eeeeee;

html{
    background-color: $colorBackground;
}

.boxNav{
    background-color: $colorNav;
    height: 35px;
    padding-top: 8px;
  
    .boxImg{
        float: left;
        margin-left: 150px;
        margin-right: 25px;
        height: 27px;
        width: 40px;

        img{
            height: 27px;
            width: 40px;
        }
    }

    .boxInput{
       display: flex;
       align-items: center;
       

        input{
            width: 83%;
            height: 24px;
            border: none;
            border-bottom-left-radius: 2px;
            border-top-left-radius: 2px;
        }

        button{
            background-image:url(../assets/ic_Search.png);
            background-repeat: no-repeat;
            background-position: center;
            width: 40px;
            height: 26px;
            border: none;
            border-bottom-right-radius: 2px;
            border-top-right-radius: 2px;
    }
    
    }

    @media (max-width: 360px) {
        .boxImg{
            margin-left: 10px;
            margin-right: 10px;
        } 

        .boxInput{
            margin-right: 9px;
        }
    }
   
}