$colorBackground:white;
$colorButton:#3583fa;
$colorP:gray;

.boxDetail{
    width: 80%;
    height: auto;
    margin: auto;
    background-color: $colorBackground;
    border-radius: 2px;
    padding:0px 20px 0px 20px;
    margin-bottom: 80px;
    padding-bottom: 15px;

    .boxImgDetail{
        width: 60%;
        float: left;
        padding-top: 15px;
        margin-bottom: 50px;

        img{
            width: 100%;
        }
    }

    .boxDetailProduct{
        height: 700px;
        width: 18%;
        margin-left: 81%;

        p{
            font-size: 11px;
            text-align: left;
            padding-top: 20px;
            margin-bottom: 0px;
        }
        
        h3{
            text-align: left;
            margin-top: 0px;
        }

        h1{
            text-align: left;   
        }

        button{
            width: 100%;
            background-color: $colorButton;
            padding: 10px;
            border: none;
            color: white;
            border-radius: 4px;  
        } 
    }

    .boxProductDescription{
        h3{
            text-align: left;
        }

        p{
            text-align: left;
            width: 800px;
            color: $colorP;
        }
    }
}