$colorBackground:white;
$colorBorder:#eeeeee;
$colorLink:black;

.boxSearch{
    width: 80%;
    height: auto;
    margin: auto;
    background-color: $colorBackground;
    border-radius: 2px;
    padding:0px 20px 0px 20px;
    margin-bottom: 80px;

    .boxResult{
        border-bottom: 2px solid $colorBorder;  
    }  

    .boxImg{
        width: 20%;
        float: left;
        margin-top: 15px;
    
        img{
            width: 100%;
            height: 190px;
            border-radius: 4px;
        }
    }

    .boxCharacteristics{
        text-align: left;
        margin-left: 22%;
        width: 30%;
        padding-top: 25px;
        
        .price{
            font-size: 23px;
            margin: 0px;
        }

        p{
            font-size: 18px;
        }   

        .linkDetail{
            text-decoration:none;
            color: $colorLink;
        }
    }

    .boxShoppingCart{
      width: 30px;
      position: relative;
      left: 450px;
      top: -175px;
    }

    .boxLocation{
        float: right;
        margin-top: -200px;
        margin-right: 60px;
        color: gray;
    }
}

